---
title: Recipes
layout: default
---

{% assign tagged = site.categories.recipes | where_exp: "post", "post.tags.size > 0" %}
{% assign all_tags = tagged | map: "tags" | join: "," | split: "," | uniq | sort %}

{% for tag in all_tags %}
<h2>{{ tag | capitalize }}</h2>
<ul>
  {% assign tag_posts = site.categories.recipes | where_exp: "post", "post.tags contains tag" | sort: "title" %}
  {% for post in tag_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

{% assign untagged = site.categories.recipes | where_exp: "post", "post.tags.size == 0" %}
{% if untagged.size > 0 %}
<h2>Other</h2>
<ul>
  {% for post in untagged %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
