<!DOCTYPE html>
<html>
  <head>
    <title>Schmitztech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ baseurl }}/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="http://www.schmitztech.com/favicon.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site">
      <div class="jumbotron" style="background-image: url('/assets/img/jumbobg.jpg');">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div>

      <div class="panel-footer">
        <div class="container">
          <small>
          <p>
            Michael Schmitz (<a href="mailto:michael@schmitztech.com">michael@schmitztech.com</a>)
          </p>
          <p>
            <a href="https://github.com/schmmd">github.com/schmmd</a><br />
            <a href="http://www.linkedin.com/in/schmmd">linkedin.com/in/schmmd</a><br />
          </p>
          </small>
        </div>
      </div>
    </div>
  </body>
</html>
