<!DOCTYPE html>
<html>
  <head>
    <title>Schmitztech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ baseurl }}/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2264865-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2264865-1');
    </script>

  </head>
  <body>
    <div class="site">
      <div class="jumbotron" style="background-image: url('/assets/img/jumbobg.jpg');">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div>

      <div class="panel-footer">
        <div class="container">
          <small>
          <p>
            Michael Schmitz (<a href="mailto:michael@schmitztech.com">michael@schmitztech.com</a>)
          </p>
          <p>
            <a href="https://github.com/schmmd">github.com/schmmd</a><br />
            <a href="http://www.linkedin.com/in/schmmd">linkedin.com/in/schmmd</a><br />
          </p>
          </small>
        </div>
      </div>
    </div>
  </body>
</html>
