<!doctype html><html lang="en">
  <head>
    <!--

                      |    |    |
                )_)  )_)  )_)
                )___))___))___)\
              )____)____)_____)\\
            _____|____|____|____\\\__
    ---------\                   /---------
      ^^^^^ ^^^^^^^^^^^^^^^^^^^^^
        ^^^^      ^^^^     ^^^    ^^
            ^^^^      ^^^

      "It’s a great life when you can get excited about the same things over
      and over again." - The Cap'n

    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schmitztech</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700">
    <link rel="stylesheet" type="text/css" href="{{ baseurl }}/assets/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2264865-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2264865-2');
    </script>
  </head>
  <body>
    <header>
      <div class="max-width-content">
        <img src="{{ baseurl }}/assets/img/ribbit-schmitztech.png" />
      </div>
    </header>
    <main>
      <div class="max-width-content">
          {{ content }}
      </div>
    </main>
    <footer>
      <div class="max-width-content">
        Michael Schmitz<br />
        <a href="mailto:michael@schmitztech.com">michael@schmitztech.com</a><br />
        <a href="github.com/schmmd">github.com/schmmd</a><br />
        <a href="linkedin.com/in/schmmd">linkedin.com/in/schmmd</a>
      </div>
    </footer>
  </body>
</html>

